* {
    margin: 0;
}

.main-layout {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 6fr / 1fr 6fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}

.header {
    background-color: pink;
    grid-area: header;
}

.sidebar {
    background-color: aqua;
    grid-area: sidebar;
}

.main-content {
    background-color: lawngreen;
    grid-area: main-conent;
}