* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

.main-layout {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 6fr / 1fr 6fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}

/* HEADER STYLES */
.header {
    background-color: white;
    grid-area: header;

    padding: 0 50px;
    padding-bottom: 10px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#search {
    display: flex;
    align-items: center;
    gap: 2ch;

    
}

.search-input {
    width: 50%;
    font-size: 1.5rem;
    background-color: lightgray;
    border: none;
    border-radius: 16px;

    padding: 4px 25px;
}

.search-input:focus {
    outline: none;
}

.header-icon {
    height: 1.5rem;
}

.profile-picture-container {
    width: 50px;
    height: 50px;
}

.profile-picture-container.large {
    width: 100px;
    height: 100px;
    grid-row: span 2;
}

.profile-picture-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    object-position: top;
}

.notifications {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.user-info {
    

    display: grid;
    grid-template: 1fr 1fr / min-content 1fr;
    align-items: end;
    row-gap: 5px;
    column-gap: 30px;
}

h2 {
    align-self: start;
}

.posting-buttons {
    

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.posting-buttons > button {
    color: white;
    font-weight: 900;
    width: 70%;
    height: 40%;
    border-radius: 25px;
    background-color: #1877F2;
    border: none;;
}


/* SIDEBAR STYLES */
.sidebar {
    color: white;
    background-color: #1877F2;
    padding: 20px;
    grid-area: sidebar;

    display: grid;
    grid-template-rows: min-content repeat(3, 1fr);
}

.logo {
    margin-bottom: 50px;

    /* alignment using flex */
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo > img {
    filter: invert(100%);
    width: 4em;
    height: 4em;
}

.nav-list {
    margin-bottom: 50px;
}

.nav-link {
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 600;

    /* alignment using grid */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content 1fr;
    gap: 30px;
    margin-bottom: 1.5ch;
}

.icon {
    width: 1em;
    height: 1em;
    padding-left: 20px;
    filter: invert(100%);
}

/* MAIN CONTENT STYLES */
.main-content {
    background-color: gray;
    grid-area: main-content;
}
