* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

.main-layout {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 6fr / 1fr 6fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}

.header {
    background-color: white;
    grid-area: header;
}

.sidebar {
    color: white;
    background-color: #1877F2;
    padding: 20px;
    grid-area: sidebar;

    display: grid;
    grid-template-rows: min-content repeat(3, 1fr);
}

.main-content {
    background-color: gray;
    grid-area: main-content;
}

.logo {
    margin-bottom: 50px;

    /* alignment using flex*/
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo > img {
    filter: invert(100%);
    width: 4em;
    height: 4em;
}

.nav-list {
    margin-bottom: 50px;
}

.nav-link {
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 600;

    /* alignment using grid*/
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content 1fr;
    gap: 30px;
    margin-bottom: 1.5ch;
}

.icon {
    width: 1em;
    height: 1em;
    padding-left: 20px;
    filter: invert(100%);
}